<div class="container-fluid">

    {{#each sports}}
    <div class="row" style="margin: 5px 20px 5px 20px;">
        <div class="card" style="width: 100%; max-width: 50rem;">
            <div class="card-body">
                <div style="display:inline" class="card-title">{{name}}</div>
               </div>
        </div>
    </div>
    {{/each}}
</div>